Options -MultiViews +Indexes +FollowSymLinks

RewriteEngine on
RewriteBase /

RewriteRule ^\.well-known/.+ - [END]

# rewrite template urls
RewriteRule _tpl/(.*)\.php $1 [L,QSA,R=301]

# rewrite files that don't exist to shiftlib
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) _lib/default.php [L,QSA]