<IfModule pagespeed_module>
    ModPagespeed on

    # using commands,filters etc
    ModPagespeedEnableFilters rewrite_javascript
    ModPagespeedEnableFilters rewrite_css
    ModPagespeedEnableFilters extend_cache,combine_css
    ModPagespeedEnableFilters combine_javascript
    ModPagespeedEnableFilters collapse_whitespace,elide_attributes,remove_comments
</IfModule>
RewriteEngine off

<IfModule mod_php5.c>
php_value max_input_vars 5000
php_value upload_max_filesize 30M
php_value post_max_size 30M
#php_value memory_limit 256M
</IfModule>

ExpiresActive on

# Add correct content-type for fonts
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType image/svg+xml .svg

# Compress compressible fonts
AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-opentype image/svg+xml

ExpiresActive on

# Add a far future Expires header for fonts
ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
ExpiresByType application/x-font-ttf "access plus 1 year"
ExpiresByType application/x-font-opentype "access plus 1 year"
ExpiresByType application/x-font-woff "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"