Options -MultiViews +Indexes +FollowSymLinks

RewriteEngine on
RewriteBase /

#RewriteCond %{HTTP_HOST} !^www.domain.co.uk$ [NC]
#RewriteRule ^(.*)$ http://www.domain.co.uk/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) _lib/default.php [L,QSA]
