.handle {
    display: inline-block;
	cursor:move;
	width:20px;
	height:20px;
	border:1px solid #000000;
	background:#ccc;
}

.logo a {
	max-width: initial;
}

.mce-notification {
	display: none;
}

@media print {
	.sidebar-menu, .header-area, .noprint {
		display: none;
	}
	
	.page-container {
		padding: 0;
	}
}

.ui-autocomplete {
	z-index: 9999 !important;
}