.handle {
	cursor: move;
	display: inline-block;
}

.logo a {
	max-width: initial;
	color: #fff;
	font-size: 20px;
}

.mce-notification {
	display: none;
}

@media print {
	.sidebar-menu, .header-area, .noprint {
		display: none;
	}
	
	.page-container {
		padding: 0;
	}
}

.ui-autocomplete {
	z-index: 9999 !important;
}

/* hide scrollbar*/
.menu-inner::-webkit-scrollbar { 
	width: 0 !important 
}

/* list buttons on the same line */
div.dt-buttons {
	width: auto;
	margin-bottom: 0;
}