body {
	background:#000;
}

a{
	color:#fff;
}

legend{
	background:#000;
	color:#fff;
}

fieldset{
	border-color:#000000;
	background:#fff;
}

input:focus, textarea:focus{
	border-color:#000000;
	background:#4d82a3;
}

#menu ul #current a{
	background:#4d82a3;
}

#content .inner{
	background:#4d82a3;
}

.tabs .current{
	background:#F5F5F5;
}

.handle{
	border:1px solid #000000;
	background:#ccc;
}

.files li{
	border: 1px solid #ccc;
}

tr.result_selected td{
	background:#FFFF99;
}

.box td{
	background:#FFFFFF;
}

.box th, .table-heading td, .table-heading td a, .box th a{
	color:#000;
	background:#F5F5F5;
}

.box th, .box td{
	border-bottom:1px solid #4d82a3;
}

.box td a{
	color:#2a5db0;
}